---
services:
  portfolio:
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - GITHUB_TOKEN=${GITHUB_ACCESS_TOKEN}
    restart: unless-stopped
    volumes:
      - github_cache:/app/cache

volumes:
  github_cache: